.container {
  box-sizing: border-box;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  /* 
  width: min(100% - 2rem, 600px);
  margin-inline: auto; */
}

.btn { 
  max-width: max-content;
  border: none;
  cursor: pointer; 
  display: inline-block;
  border-radius: 0.3125rem;
  padding: 1.25rem 1.875rem;
  background: var(--cor-1-l);
  color: var(--cor-100);
  font: 600 1.125rem/1.5 "IBM Plex Sans", sans-serif;
}
.btn:hover {
  background: var(--cor-1-d);
  color: var(--cor-800);
  transition: 0.2s;
}
.btn-ft {
  padding: 0.875rem 3.125rem 0.875rem 3.5625rem;
}

.btn-2 {
  padding: 0.75rem 1rem;
  background: var(--cor-900);
  font: 600 1rem/1.35 "IBM Plex Sans", sans-serif;
  box-shadow: inset 0 0 0 2px rgba(217, 159, 135, 1);
}

.btn-2-ft {
  padding: 1.25rem 4.625rem;
  font: 600 1.125rem/1.35 "IBM Plex Sans", sans-serif;
}

.btn-2:hover {
  background: var(--cor-2-l);
  color: var(--cor-100);
  box-shadow: inset 0 0 0 2px rgba(138, 79, 55, 1);
  transition: 0.2s;
}

.btn.icon {
  display: flex;
  align-items: center;
}

.btn.icon::before {
  content: "";
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.4375rem;
  background-image: url(../../img/icones/redes_sociais/whats.svg);
  background-repeat: no-repeat;
}
.btn.icon:hover:before {
  background-image: url(../../img/icones/redes_sociais/whats_hover.svg);
}
@media (max-width: 600px) {
  .btn {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.25rem;
  background-color: currentColor;
}
.link:hover {
  color: var(--cor-0);
}

/* titulos internos */

.titulo-bg {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  /* padding-block: 60px; */
  background-color: var(--cor-11);
}
.titulo {
  background: url(../../img/dec/top-right.svg) no-repeat top right 1.25rem;
}
.titulo p {
  margin-bottom: 0.25rem;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
