/* HEADLINES */
/* H1 */
.font-h1 {
  font: 500 4rem/1.25 "IBM Plex Sans", sans-serif;
}
/* H2 */
.font-h2 {
  font: 600 3.5rem/1.3 "IBM Plex Sans", sans-serif;
}
/* H3 */
.font-h3 {
  font: 500 3rem/1.3 "IBM Plex Sans", sans-serif;
}
/* H4 */
.font-h4 {
  font: 500 2.5rem/1.3 "IBM Plex Sans", sans-serif;
}
/* H5 */
.font-h5 {
  font: 500 2rem/1.3 "IBM Plex Sans", sans-serif;
}

/* SUBTILES */
.font-sub-r {
  font: 400 1.5rem/1.5 "IBM Plex Sans", sans-serif;
}
.font-sub-b {
  font: 500 1.5rem/1.5 "IBM Plex Sans", sans-serif;
}

/* BODYS */
/* 18px */
.font-body1-c {
  font: 500 1.125rem "IBM Plex Sans", sans-serif;
}
.font-body1-r {
  font: 400 1.125rem/1.5 "IBM Plex Sans", sans-serif;
}
.font-body1-m {
  font: 500 1.125rem/1.5 "IBM Plex Sans", sans-serif;
}
.font-body1-b {
  font: 600 1.125rem/1.5 "IBM Plex Sans", sans-serif;
}
/* 16px */
.font-body2-r {
  font: 400 1rem/1.5 "IBM Plex Sans", sans-serif;
}
.font-body2-b {
  font: 600 1rem/1.5 "IBM Plex Sans", sans-serif;
}
/* 14px */
.font-body3-r {
  font: 400 0.875rem/1.5 "IBM Plex Sans", sans-serif;
}
.font-body3-b {
  font: 700 0.875rem/1.5 "IBM Plex Sans", sans-serif;
}

/* OUTROS */
.font-bold {
  font-weight: 700;
}

.font-sub {
  font: 400 1.25rem/1.5 "IBM Plex Sans", sans-serif;
}

@media (max-width: 1200px) {
  .font-h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  .font-h1 {
    font-size: 3rem;
  }
  /* SUBTILES */
  .font-sub-r {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .font-h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .font-h2 {
    font-size: 2rem;
  }
  .font-body1-m {
    font-size: 1rem;
  }
}
