.footer-bg {
  background: var(--cor-2-l);
}
.footer {
  display: grid;
  grid-template-columns: 16.25rem 11.125rem 23.3125rem;
  gap: 1rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
  justify-content: space-between;
}
.ft-logo {
  margin-bottom: 1.5rem;
}
.footer-contato ul {
  margin-bottom: 1rem;
}
.ft-maps {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-info {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-info li:nth-child(-n + 3) {
  margin-bottom: 2.25rem;
}
.footer-redes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-redes p {
  margin-right: auto;
}
.footer-redes a {
  gap: 0.5rem;
}

.footer a {
  display: block;
  max-width: max-content;
}
.footer a:hover {
  color: var(--cor-900);
}

.ft-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.footer-copy {
  text-align: center;
  grid-column: 1/-1;
  margin-top: 15.375rem;
}
.footer-copy:after {
  content: "";
  display: block;
  max-width: 75rem;
  height: 0.0625rem;
  background: var(--cor-600);
  margin-top: -2.875rem;
}

@media (max-width: 1000px) {
  .footer {
    padding-top: 3.75rem;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: start;
  }
  .footer div.ft-grid {
    grid-column: 2;
    grid-row: 1;
    gap: 1rem;
  }
  .footer-info li:nth-child(-n + 3) {
    margin-bottom: 1rem;
  }
  .footer-info {
  padding-top: 1rem;
  padding-bottom: 1rem;
  }
  .footer-copy {
    grid-column: 1/-1;
    margin-top: 5rem;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .footer div.ft-grid {
    grid-column: 1;
    grid-row: 2;
  }
  .footer-copy {
    margin-top: 1rem;
  }
}
