/* fixed header */
.content {
  padding-top: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 164px;
}
/* /////////// */
/* menu burger */

.icon {
  display: none;
}
.topnav{
  display: none;
}

/* /////////// */

.header-bg {
  background-color: var(--cor-900);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1.75rem;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.header-menu li:last-child {
  margin-left: 1rem;
}
.header-menu li:nth-of-type(-n + 4) a {
  display: inline-block;
  padding: 0.625rem 0;
  position: relative;
}

.header-menu li:nth-of-type(-n + 4) a:after {
  content: "";
  display: block;
  height: 0.125rem;
  width: 0;
  background-color: var(--cor-1-l);
  margin-top: 0.125rem;
  transition: 0.2s;
  position: absolute;
}
.header-menu li:nth-of-type(-n + 4) a:hover::after,
.header-menu li:nth-of-type(3) a.ativo::after {
  width: 65%;
}


@media screen and (max-width: 1100px) {
  .icon {
    display: block;
    justify-self: end;
  }
  .header nav {
    display: none;
  }
  .topnav.responsive {
    display: block;
  }
  .topnav-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    max-width: 350px;
  }
}
