.introducao-bg {
  background: var(--cor-900);
}
.container-intro {
  box-sizing: border-box;
  max-width: 1800px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.introducao {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  padding-bottom: 60px;
  gap: 1rem;
}

.introducao-conteudo {
  padding-left: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.introducao a {
  margin-bottom: 16px;
}

.img-intro {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.introducao h1 {
  margin-bottom: 32px;
}
.introducao p {
  max-width: 800px;
  margin-bottom: 56px;
}

.detalhe-hero {
  display: flex;
  place-content: center;
  grid-column: 1/-1;
}

@media (max-width: 1820px) {
  .introducao-conteudo {
    padding-left: 150px;
  }
  .container-intro {
    max-width: 1500px;
  }
}
@media (max-width: 1530px) {
  .introducao-conteudo {
    padding-left: 0;
  }
  .container-intro {
    max-width: 1200px;
  }
  .introducao {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px){
  .introducao p {
    margin-bottom: 2rem;
  }
  .introducao h1 {
    margin-bottom: 1rem;
  }
}


@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-conteudo {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .img-intro {
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
  .introducao p:last-child {
    margin-bottom: 0px;
  }
}
